<p id="notice"><%= notice %></p>

<p>
  <strong>Artmedium description:</strong>
  <%= @artmedium.artmedium_description %>
</p>

<%= link_to 'Edit', edit_artmedium_path(@artmedium) %> |
<%= link_to 'Back', artmedia_path %>
