<h1>New Artwork</h1>

<%= render 'form', artwork: @artwork %>

<br>

<p><%= link_to "If the artist is not listed, please go create a new artist before creating an artwork", new_artist_path%></p>

<%= link_to 'Back', artworks_path, class:"btn btn-primary btn-sm"  %>
