<h1>New Artwork</h1>
<p>If the artist is not listed below, please go <%= link_to "create a new artist", new_artist_path%> first, and then add an artwork from there.</p>

<%= render 'form', artwork: @artwork %>

<br>


<%= link_to 'Back', artworks_path, class:"btn btn-primary btn-sm"  %>
