<div class="row">   
    <div class="jumbotron">
        <div class="col-md-">
            <h1 class="display-4">Welcome to Artize!</h1>
            <p class="lead">For Art. Formed by Art</p>
            <hr class="my-4">
            <p>An online Gallery for Artists to sell art to Customers directly, without the commission.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Add Artworks</a>
            </p>
        </div>

        <div class="col-md-">
            <%= image_tag "sergei", class:"home_image"%>
        </div>

    </div>
</div>
