// Place all the styles related to the Styles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.navbar-brand {
    font-family: 'Rock Salt', cursive;
}

.display-font {
    font-family: 'Rock Salt', cursive;
    font-size: 55px;
}

